body {
  background-color: #13fff3;
  color: #475569;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  margin: 0;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 80px;
  width: auto;
  background-color: #1e293b;
  position: sticky;
  top: 0;
}
.main_header .navbar_brand {
  font-weight: 800;
  color: rgba(19, 255, 243, 0.6);
}
.main_header a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 20px;
}
.main_header a:hover {
  color: rgba(255, 255, 255, 0.626);
  transition: 0.3s;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  min-height: 80vh;
  align-items: center;
}
.about .about_content {
  max-width: 600px;
}
.about .about_content h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 1.5rem;
}
.about .about_content p {
  font-size: 1.5rem;
}
.about .image {
  font-size: 10rem;
  animation: float 4s infinite ease-in-out;
}

.section_title {
  color: #1e293b;
  text-align: center;
}

.gallery {
  background: #13fff3;
  padding: 50px 0;
}
.gallery .grid_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.gallery .grid_gallery figure {
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
  aspect-ratio: 1;
}
.gallery .grid_gallery figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.4s;
}
.gallery .grid_gallery figure img:hover {
  transform: scale(1.05);
}

.booking {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
.booking .form_card {
  background: #13fff3;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(30, 41, 59, 0.05);
  width: 100%;
  max-width: 500px;
  text-align: center;
}
.booking .form_card .input_group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.booking .form_card .input_group input {
  border-radius: 12px !important;
  padding: 12px;
  border: 1px solid #388eff;
}

.btn_main {
  background: #6366f1;
  color: #13fff3;
  padding: 12px 32px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: 0.3s;
}
.btn_main:hover {
  background: rgb(52.2, 56.1, 236.8);
  color: white;
}

.main_footer {
  background: #1e293b;
  color: rgba(19, 255, 243, 0.6);
  padding: 40px;
  text-align: center;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@media (max-width: 992px) {
  .about {
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
  }
  .grid_gallery {
    grid-template-columns: 1fr !important;
  }
}